<div class="container mt-3">
  <form>
    <div class="mb-3">
      <div id="save_status" class="mt-5"></div>

      <input type="hidden" value="{{company_id}}" id="company_id" />

      <label for="api_token" class="form-label">API token</label>

      <input
        type="text"
        value="{{api_token}}"
        class="form-control"
        id="api_token"
        aria-describedby="help"
      />

      <div id="apikey_help" class="form-text">
        You can get API token in Personal preferences. Keep your API token
        secure, as it can be used to access your data in Pipedrive.
      </div>

    </div>
    <a id="save_configs" class="btn btn-primary">Save</a>
  </form>
</div>

<script src="/js/settings.js"></script>